doctype
html
    head
        title   #{title}
    body
        header
            h1 Exception occured !!!
            h2 <p> Status: #{status}  </p>
               <p> Message: #{message} </p>
               <p> To access weather report details visit :http://localhost:#{port}/ </p>
               <p> for defaut weather report: http://localhost:#{defaultApi}/ </p>

